{{ layouts/main }}
{{> header}}

 <div class="profile">
  <div class="card-border-top">
  </div>
  <div class="img fa fa-user-circle">
   
  </div>

{{#if user}}
   <span>Perfil {{#each user}}
      
  {{username}}
    
   {{/each}}</span>
{{/if}}
 <p class="job">Bienvenido 
  {{#each user}}

    {{username}} 

  {{/each}}</p> 


  <section class="user-table">
    <div class="user-table-div">
      <table  class="table table-dark table-hover table-bordered border-primary" style="width:100%">
        <caption>List the Users</caption>
        <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Roll</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Password</th>
            </tr>
        </thead>
        <tbody>
          {{#if data}}
     
          {{#each data}}
        
            <tr>
              <td>{{_id}}</td>
              <td>{{rol}}</td>
              <td>{{ username }}</td>
              <td>{{ email }}</td>
              <td>{{ password }}</td>
                
            </tr>
          {{/each}}
      
          {{/if}}
          </tbody>
    </div>
  </section>

</div>
